@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700,900);
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,800,800i,900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
  font-family: Poppins, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.fs-10{
  font-size: 10px;
}
.fs-11{
  font-size:11px; 
}
.fs-12{
  font-size: 12px;
}
.fs-13{
font-size: 13px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-16{
  font-size: 16px;
}
.fs-17{
  font-size: 17px;
}
.fs-18{
  font-size: 18px;
}
.fs-19{
  font-size: 19px;
}
.fs-20{
  font-size: 20px;
}
.fs-21{
  font-size: 21px;
}
.fs-22{
  font-size: 22px;
}
.fs-23{
  font-size:23px;
}
.fs-24{
  font-size: 24px;
}
.fs-25{
  font-size: 25px;
}
.fs-45{
  font-size: 45px;
}
.fs-60{
  font-size: 60px;
}
.fs-45{
  font-size: 45px;
}
.fs-32{
  font-size: 32px;
}
.fs-34{
  font-size: 34px;
}
.fs-35{
  font-size: 35px;
}
.fs-55{
  font-size: 55px;
}
.fw-100{
  font-weight: 100;
}
.fw-200{
  font-weight: 200;
}
.fw-100{
  font-weight: 200;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.lh-56{
  line-height: 56px;
}
.lh-46{
  line-height: 46px;
}
.lh-30{
  line-height: 30px;
}
.color-primary{
  color:#4a81ff;
}
.cl-black{
  color:black;
}
.cl-white{
  color: white
}
.m-0{
  margin: 0px;
}
.pl-0{
  padding-left: 0px;

}
.pl-120{
  padding-left: 120px;
}
.pl-30{
  padding-left: 30px;
}
.pl-31{
  padding-left: 31px;

}
.pl-35{
  padding-left: 35px;
}
.pl-40
{
  padding-left: 40px;
}
.pl-51{
  padding-left: 51px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pb-100{
  padding-bottom: 100px;
}
.pt-20{
  padding-top: 20px;
}
.pt-35{
  padding-top: 35px;
}
.pt-60{
  padding-top: 60px;
}
.pt-11{
  padding-top: 11px;
}
.pt-90{
  padding-top: 90px;
}

.pt-0{
  padding-top: 0px;
}
.pb-30{
  padding-bottom: 30px;
}
.pr-20{
  padding-right: 20px;
}
.pr-0{
  padding-right: 0px;
}
.pr-40{
  padding-right: 40px;
}
.pr-100{
  padding-right: 100px;
}
.pr-56{
  padding-right: 56px;
}

.postion-r{
  position: relative;
}
.border-n{
  border:none;
}
.float-l{
  float:left;
}
.out-no{
  outline: none;
}
.br-50{
  border-radius: 50px;
}
.bg-clr-prm{
  background-color:#4a81ff;

}
.brd-no{
  border:none;
} 
.bg-trans
{
  background:transparent;
}
.bg-clr-grey{
  background-color:#ebebeb;   
}
.mt-90{
  margin-top: 90px;
}
.mb-20{
  margin-bottom: 20px;
}
.ml--56{
  margin-left: -56px;

}
.ws-5
{
  word-spacing: 5px;
}
.wd-170{
  width:170px;
}

.fw-800{
  font-weight: 800;
}
.fw-700{
	font-weight: 700;
}
.font-family-alt {
    font-family: Catamaran, sans-serif!important;
}
.font-family-roboto{
  font-family: Roboto,sans-serif!important;
}
.ff-mont{
  font-family: Montserrat, sans-serif;
}
.fw-700{
  font-weight: 700;
}
.fw-600{
  font-weight: 600;
}
.fw-500{
  font-weight: 500;
}
.fw-400{
  font-weight: 400;
}
.cl-red{
color:red;
}
.text-black{
  color: #474747;
}

#main{
	position: relative;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#particles-js{
	width: 100%;
  height: 100vh;
	position: absolute;
}
.bg-trans{
	background-color: transparent;
}
.text-base-color {
    color: #e62b1e !important;
}
.text-white {
    color: #fff!important;
}
.letter-spacing-2 {
    letter-spacing: 2px!important;
}
.font-weight-900 {
    font-weight: 900!important;
}
.title-extra-large-5 {
    font-size: 80px!important;
    line-height: 80px!important;
}
.main-body{
  width: 100%;
    margin-top: 0%;
}
.countdown{
  color: white;
    font-size: 28px;
    background-color: red;
}
.astro{
  
  position: absolute;
    z-index: -1;
    top: 22px;
    right: 0px;
}
header{
  padding-top: 4px;
}
.navbar-brand{
 height: 77px;
  width: 235px;
}
.navbar-brand img{
  width: 100%;
}
.navbar li a, .navbar {
 font-family: Poppins;
    font-weight: 500;
    color: white !important;
    font-size: 18px;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}

#clockdiv{
  border-radius: 10px;
  background-color: #ffffff00;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #ffffff00;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
    border-radius: 50%;
    background: black;
    display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
#section2{
  position: relative;
 text-align: center;
  height: 100vh;
  background-image : url("../assets/about1.png");
  background-size: auto;
  padding: 15px;
}
.about-us{
  text-align: justify;
  border: 0px solid;
    position: relative;
    /* box-shadow: 0px 0px 14px 0px #ffffff00; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: #ffffffe6;
    background-size: cover;
  
}
.about-ted{
  
}
.about-tedx{
 
padding-top:20px;
}
.about-tedxmitsg{
padding-top:20px;
}
.sata{
    width: 100%;
    top: 35px;
    left:10px;
}
.sata img{
height: auto;
width: 100%;
}
.about-main{
  
}
.line-breaker{
  height: 400px;
  overflow: hidden;
}
.line-breaker img{
  height: auto;
  width: 100%;
}
#section3{
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-image: url("../assets/tedx.png");
  background-size: cover;
  height: auto;
  background-color: black;
}
hr.style13 {
 height: 9px;
 border: 0;
 box-shadow: -3px 4px 3px 4px #ff0000 inset;
}
.pastevents{
  margin: auto;
  width: 57%;
  background-size: cover;
}
.carousel{
  width: 100%!important;
}
.carouseltedx{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
hr.style2 {
  border-top: 3px double #ffffff;
}
hr.style3 {
  width: 80%;
  border-top: 3px double #000f;
}
#speakers{
  padding: 5px;
  background:white;
  height: auto;
}
.speakers-box{
 margin: 20px;
    height: auto;
    border-radius: 20%;
    width: 238px;
}
.speakers-box a{
  text-decoration: none;
}
.speakers-txtbox a:hover{
  font-size: 16px;
}
.speakers-imgbox{
  box-shadow: 0px 0px 11px 1px #918f8f;
    margin-left: 15%;
    overflow: hidden;
    border-radius: 20%;
    height: 170px;
    width: 170px;

}
.tedxspeaker {
    padding: 15px;
}
.speakers-imgbox img{
width: 100%;
    height: 100%;
}
.speakers-imgbox:hover {
    border: 4px solid #e62b1ea8;
}
.speakers-txtbox{
padding-top: 10px;
    text-align: center;
}
.speakers-txtbox h1{
  color: red;
font-size: 20px!important;
}
.speakers-txtbox p{
  font-size: 14px!important;
  font-weight: 400;
}
.tedxspeakers-title{
      width: 100%;

}
.firstlinespeakers{
  width: 100%;
  text-align: center;
}
.eventdate img{
  width: 300px;
}

.maintitle img{
  width: 41%;
}

.contactusbox{
  padding: 15px;
}
.calendardate img{
  
}

.countdown-timer .value {
  font-family: Poppins, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: white;
    padding: 19px;
    align-self: center;
}
.countdown-timer{
  display: flex;
    justify-content: center;
}
.countdown-timer .label {
        font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 5px;
    align-self: center;
    margin-left: 0%;
}
#sponsors{
  padding: 10px 10px 30px 10px;
    background: black;
    width: 100%;
}
.sponsors-text{
  margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sponsorsous{
margin: 15px;
    border: none;
    font-size: 16px;
    padding: 16px;
    border-radius: 34px;
    font-weight: 600;
    width: 200px;
    background: white;
    box-shadow: none;
    outline: none;
}
.sponsorsouslink{
margin: 15px;
    border: none;
    font-size: 16px;
    padding: 16px;
    border-radius: 34px;
    font-weight: 600;
    width: 200px;
    background: white;
    box-shadow: none;
    outline: none;
}
.sponsorsouslinkbtn{
  margin-top: 30px;
    width: 100%;
}
.sponsors-button{
  padding: 20px;
    width: 100%;
}
button:focus {
    outline: none;
}
.sponsors-button a{
  color: black;
  outline: none;
  text-decoration: none;
}
.sponsors-button a:hover{
  color: black;
  outline: none;
  text-decoration: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:#e85657;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 position: absolute;
    color: #fff;
    float: left;
    font-size: 28px;
    font-weight: bold;
    right: 18px;
    top: 5;
  }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.sponsorscontentlist li{
color: white;
    font-size: 15px;
    padding: 6px;
}
.contactnumber{
  padding-left: 14%;
  background-image: url(../assets/telephone.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
}
.contactmail{
 padding-left: 14%;
    background-image: url(../assets/envelope.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
  }
.contactcontent, .socialmedia{
    margin-right: 24%;
  }
#contactus{
  padding: 20px;
  text-align: center;
  width: 100%;
  height: auto;
  background: black;
}
.footerlogo{
  width: 100%;
}
.footerlogo img{
width: 100%;
}
.socialmedia img{
  margin-left: 10px;
}
.shape{
  position: absolute;
   left: 15%;
    bottom: -65px;
}
.shape img{
  width: 26%;
}
footer{
  background-color:#222222; 
}
footer a{
  color: red;
}
footer a:hover{
  color: red;
  text-decoration: none;
}
.btntickets  {
  background: white;
    padding: 10px 30px 10px 30px;
    border-radius: 28px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position:relative;   
}
.btntickets:hover{
  color: black;
  text-decoration: none;
}
.btnticketsbottom  {
  background: white;
    padding: 10px 30px 10px 30px;
    border-radius: 28px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position:relative;   
}
.btnticketsbottom:hover{
  color: black;
  text-decoration: none;
}
.buyticketsbottom{
  text-align: left;
    padding-top: 10%;
    width: 100%;
}
.pasteventtext{
  text-align: justify;
}
.text-justify{
  text-align: justify;
}
.colon{
  color: white;
  font-size: 32px;
  padding-top: 0.5rem;
}

.teamprofile{
  margin: 20px;
}
.teamprofileimg{
 box-shadow: 0px 0px 11px 1px #918f8f;
    margin: auto;
    overflow: hidden;
    border-radius: 20%;
    height: 120px;
    width: 120px;
}
.teamprofileimg:hover{
border: 4px solid #e62b1ea8;
}
.teamprofileimg img{
  width: 100%;
  height: auto;
}
.teamprofiletxt{
  padding-top: 10px;
    text-align: center;
}
.teamprofiletxt h1 {
    color: red;
    font-size: 18px!important;
}
.teamprofiletxt p{
  font-size: 14px!important;
    font-weight: 400;
}
#ourteam{
  padding: 30px;
  height: auto;
}
.speakerprofilepage{
  background-color: black;
}
.briefspeakerprofile{
    padding: 40px;
}
.briefspeakerprofileimg{
      width: 100%;
}
.briefspeakerprofileimg img{
  box-shadow: 1px 3px 7px 1px #464646;
    border-radius: 58px;
    width: 100%;
    border: 5px #ff5722b3 solid;
}
.briefspeakerprofiletext{
  text-align: justify;
}
.sponsorsousimg{
  width: 100%;
  height: auto;
}
.sponsorsousimg img{
  width: 100%;
  height: auto;
}



































































@media only screen and (max-width: 768px) {
  .colon{
  font-size: 32px;
  padding-top: 0rem;
}
  .dateandplace h1{
  font-size: 26px;
}
.dateandplace h2{
  font-size: 13px;
}
  #main{
  position: relative;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
  .tedxspeaker {
    padding: 5px;
}
.speakers-box{
 margin: auto auto 13% auto;
    height: auto;
    border-radius: 20%;
    width: 238px;
}
  .about-tedx .about-ted .about-tedxmitsg{
    overflow: auto;
    height: 100px;
  }
  .title-extra-large-5 {
    font-size: 42px!important;
    line-height: 48px!important;
}
.main-body h4{
  font-size: 30px!important;
}
.sm-title-extra-large{
  font-size: 20px;
}
#section2 {
  overflow: hidden;
    height: auto;
    background-image: url(../assets/about2.png);
    padding: 0px;
}
.about-main {
  width: 100%;
  }
  #section2 h2{
    font-size: 25px;
  }
  .about-us {
    text-align: justify;
    position: relative;
    box-shadow: 0px 1px 14px 0px #ffffff45;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    background-size: cover;
}
#section3{
  background-repeat: no-repeat;
  background-image:none;
  background-size: cover;
  height: auto;
  background-image: url("../assets/tedxmobile.png");
}
.pastevents{
    width: 90%;
}
.pastevents h1{
  font-size: 36px!important;
}
.pastevents h2{
  font-size: 24px!important;
}
.pastevents  p{
  text-align: justify!important;
  font-size: 12px!important;
}
iframe{
 height: 200px;
width: 275px;
}
.carouseltedx{
  margin-bottom: 20px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.smalltext {
    padding-top: 0px;
    font-size: 12px;
}
.navbar-brand img {
    height: auto;
    width: 100%;
}
.navbar-brand {
    height: 50px;
    padding-top: 0px;
    width: 170px;
}
header {
    padding-top: 4px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.about-ted{
  padding-top:10px;
  font-size: 12px!important;
}
.about-tedx{
  font-size: 12px!important;
 
padding-top:0px;
}
.about-tedxmitsg{
  
padding-top:0px;
}
.about-main p{
  font-size: 12px!important;
}
.navbar{
  position: fixed;
  width: 100%;
  background-color: black;
}
.main-body{
  width: 100%;
    margin-top: 30%;
}
.section2title{
 font-size: 30px; 
}
.maintitle img{
  width: 100%;
}

.sponsorsous {
    margin: 0px;
    border: none;
    font-size: 13px;
    padding: 11px 15px 12px 19px;
    border-radius: 34px;
    font-weight: 600;
    width: 164px;
    background: white;
    box-shadow: none;
    outline: none;
}
.sponsorsouslink{
margin: 15px;
    border: none;
    font-size: 13px;
    padding: 11px 15px 12px 19px;
    border-radius: 34px;
    font-weight: 600;
    width: 164px;
    background: white;
    box-shadow: none;
    outline: none;
}
.sponsors-text h2{
  font-size: 12px;
}
.modal-content h1{
  font-size: 22px;
}
.sponsorscontentlist li{
color: white;
    font-size: 11px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 23;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.sponsorscontent p{
  font-size: 11px;
}
.modal-content {
    background-color: #e85657;
    margin: 20% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 90%;
}
.contactnumber {
    padding-left: 11%;
    background-image: url(../assets/telephone.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
  }
.contactmail {
   padding-left: 11%;
 
    /*background-image: ur(../assets/envelope.png);
    background-repeat: no-repeat;
    background-size: 16px;*/
}
.socialmediaico{
  width: 100%;
    text-align: center;
}
.socialmedia img {
    width: 32px;
    margin-left: 7px;
}
.footerlogo {
    margin-top: 40px;
    width: 100%;
}
#contactus h1{
  text-align: center;
  font-size: 20px;
}
#contactus p{
  text-align: center;
  font-size : 16px;
}
.countdown-timer .value {
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: white;
    align-self: center;
}
.contactcontent, .socialmedia {
   margin-right: 0%; 
}
.footer p{
  font-size: 10px;
}
.contactcontent{
   text-align: center!important;
    margin-top: 5%;
  }
  .socialmedia{

    text-align: left!important;
     margin-top: 5%;
  }
  .shape{
    display: none;
  }
  .buyticketsbottom{
   width: 100%;
    margin: 40px 0px 40px 0;
    text-align: center;
  }
.sponsorsouslinkbtn {
    text-align: center;
     margin-top: none;
    width: 100%;
}
.whysponsorsousbtn{
  text-align: center;
     margin-top: none;
    width: 100%;
}
#ourteam {
    padding: 15px;
    height: auto;
}
.briefspeakerprofile {
    height: auto;
    padding: 0px;
    margin: 27% 0px 12% 0px;
}

}
